/*----------------
	General
------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

header,
nav,
footer,
section,
article,
div {
  box-sizing: border-box;
}

body {
  font-family: Circular Std Book;
  font-size: 12px;
  color: #000;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

/*Safari mobile fix*/
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
-webkit-appearance: none!important;
-moz-appearance: none;
}

/*input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}*/

.main{
	 background: #00BE78;
    padding: 2% 0;
    height: 90%;
}

.btn_class_white{
	background: #00BE78;
    border: 1px solid #00BE78;
    border-radius: 100px;
    font-family: CircularStd-Bold;
    font-size: 16px;
    color: #fff;
    letter-spacing: 2px;
    padding: 15px 30px 15px 30px;
    cursor: pointer;
    margin-top: 2%;
    -webkit-appearance: none;
}

.btn_class_green{
	background: #00BE78;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    font-family: CircularStd-Bold;
    font-size: 16px;
    color: #fff;
    letter-spacing: 2px;
    padding: 15px 30px 15px 30px;
    cursor: pointer;
    margin-top: 2%;
    -webkit-appearance: none;
}

.btn_class_content{
    background: #00BE78;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    font-family: CircularStd-Bold;
    font-size: 16px;
    color: #fff;
    letter-spacing: 2px;
    padding: 15px 30px 15px 30px;
    cursor: pointer;
    margin-top: 3%;
    -webkit-appearance: none;
    width: 60%;
}

.btn_class_content:hover{
    background: #06DA8C;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

p, h1, h2{
	color: #4D4C52;
}

/*Hover for the buttons*/

/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #00BE78;
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}

.hvr-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-shadow:hover, .hvr-shadow:focus, .hvr-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

/* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

/*----------------
	Header
------------------*/

.logo{
	width: 200px;
}

.header{
	 top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding-left: 84px;
    padding-right: 84px;
    background-color: white;
}

.nav ul li{
	display: inline-flex;

}

.nav_link{
	text-decoration: none;
	display: flex;
	font-family: Circular Std Bold;
  	font-size: 18px;
  	color: #000;
  	margin: 0 0 0 30px;
    padding-bottom: 7px;

}

.nav_link a:hover{
	color: #00BE78;
}

.nav_link:first-child {
    padding-left: 0;
}

.nav_section{
	display: flex;
}

.header_inner{
	width: 100%;
  	margin-left: auto;
  	margin-right: auto;
  	display: flex;
  	align-items: center;
  	padding-left: 54px;
    padding-right: 54px;
    min-height: 90px;
}

.logo_class{
	margin-right: auto;
}

.header__menu img{
    display: flex;
    width: 30px;
    margin-right: 35px;
}

section{
    display: flex;
    flex-direction: column;
    padding: 80px 70px;
}



/*-----------
Main Signup styles here
-----------------*/

.input-form{
    box-shadow: 4px 7px 20px 0 rgba(0,0,0,0.26);
    border-radius: 8px;
    background: #FFFFFF;
    width: 450px;
    margin: 0 auto;
    position: relative;
    right: 0;
    left: 0;
    top: 20px;
    max-width: 95%;
    perspective: 1000px;
    transform-style: preserve-3d;
}

form h3{
    color: #4D4C52;
    font-size: 21px;
}

form p{
    color: #4D4C52;
    font-size: 21px;
    padding-top: 5px;
}

.form-group{
  margin: 7% 0%;
  width: 100%;
}
.form-control{
    width: 100%;
    height: 34px;
    padding: 6px 0px;
    background-color: #fff;
    border-bottom: : 1px solid;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control:focus{
    outline: none;
    border-color: #00BE78;
}

.input-md {
    height: 50px;
    font-size: 15px;
}

.ui-links{
    padding: 2% 0%;
}

.check-group{
  padding: 5% 0%;
}

.redir{
    padding-top: 9%;
    font-size: 15px;
    color: #4D4C52;
}

.ui-links a{
  color: #00BE78;
}

.ui-links span{
  padding-right: 5px;
}

.check-group input{
  margin-right: 10px;
}
