/*----------------
	General
------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

header,
nav,
footer,
section,
article,
div {
  box-sizing: border-box;
}

body {
  font-family: Circular Std Book;
  font-size: 12px;
  color: #000;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

/*Safari mobile fix*/
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
-webkit-appearance: none!important;
-moz-appearance: none;
appearance: none;
}

/*input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}*/

.main{
	margin-top: 90px;
}

.btn_class_white{
	background: #00BE78;
    border: 1px solid #00BE78;
    border-radius: 100px;
    font-family: CircularStd-Bold;
    font-size: 16px;
    color: #fff;
    letter-spacing: 2px;
    padding: 15px 30px 15px 30px;
    cursor: pointer;
    margin-top: 2%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.btn_class_green{
	background: #00BE78;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    font-family: CircularStd-Bold;
    font-size: 16px;
    color: #fff;
    letter-spacing: 2px;
    padding: 15px 30px 15px 30px;
    cursor: pointer;
    margin-top: 2%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.btn_class_content{
    background: #00BE78;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    font-family: CircularStd-Bold;
    font-size: 16px;
    color: #fff;
    letter-spacing: 2px;
    padding: 15px 30px 15px 30px;
    cursor: pointer;
    margin-top: 3%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


p, h1, h2{
	color: #4D4C52;
}

/*Hover for the buttons*/

/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #00BE78;
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}

.hvr-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-shadow:hover, .hvr-shadow:focus, .hvr-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

/* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

/*----------------
	Header
------------------*/

.logo{
	width: 200px;
}

.header{
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding-left: 84px;
    padding-right: 84px;
    background-color: white;
}

.nav ul li{
	display: inline-flex;

}

.nav_link{
	text-decoration: none;
	display: flex;
	font-family: Circular Std Bold;
  	font-size: 18px;
  	color: #000;
  	margin: 0 0 0 30px;
    padding-bottom: 7px;

}

.nav_link a:hover{
	color: #00BE78;
}

.nav_link:first-child {
    padding-left: 0;
}

.nav_section{
	display: flex;
}

.header_inner{
	width: 100%;
  	margin-left: auto;
  	margin-right: auto;
  	display: flex;
  	align-items: center;
  	padding-left: 54px;
    padding-right: 54px;
    min-height: 90px;
}

.logo_class{
	margin-right: auto;
}

.header__menu img{
    display: flex;
    width: 30px;
    margin-right: 35px;
}

section{
    display: flex;
    flex-direction: column;
    padding: 125px 100px;
}

/*---------------
Hero Section
-----------------*/



.hero{
	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	/*text-align: center;*/
}

.hero .hero-img{
    background-image: url(images/dan-gold-206211-unsplash.png);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-color: #00BE78;
    z-index: -1;
    overflow: hidden;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top center;
}
/*.hero .hero-img{
	background-image: url(images/dan-gold-206211-unsplash.png);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-color: #00BE78;
	z-index: -1;
}*/

.hero h1{
	font-family: Circular Std Bold;
	font-size: 160px;
	color: #FFFFFF;
	letter-spacing: -5.28px;
	line-height: 129px;
	/*position: absolute;*/
	margin-bottom: 40px;
	margin-top: -84px;
}

.hero p{
	font-family: Circular Std Book;
    font-size: 25px;
    line-height: 40px;
    width: 39vw;
    color: inherit;
}

}

/*---------
Intro text section
-----------------*/

.white-bg{
    background-color: white;
}

.intro-text{
	background-color: white!important;
}

.intro-text a::after{
	content: "→";
}

.intro-text p{
	color: #4D4C52;
    font-size: 20px;
    line-height: 44px;
}

.intro-text span{
    display: flex;
    color: #4D4C52;
    font-size: 12px;
}

.intro-text a{
	padding-top: 10px;
	font-size: 16px;
}

.intro-text a:hover{
	color: #00BE78;
}

.intro_img{
	text-align: center;
}

.intro_img img{
	max-width: 50vw;
}

.intro-text h3{
	color: #4D4C52;
    font-size: 30px;
    line-height: 40px;
    padding-bottom: 2%;
}

.intro-sub-text{
    padding: 0% 23%;
}
/*----------------
Email form
----------------*/
.email-col{
	background-color: #00BE78;
	display: flex;
	align-items: center;
    -webkit-appearance: none;
}

.email_enter{

    background-color: #00BE78;
    padding: 16px;
    display: block;
    border: none;
    border-bottom: 1px solid #fff;
    width: 100%;
    color: #fff;
    font-size: 16px;
    -webkit-appearance: none;
}

.email-col .email-sec li{
	flex-basis: 100%;
	text-align: center;
    -webkit-appearance: none;
}

.email-col .email-sec p{
	color: #fff;
	font-size: 18px;
	padding-bottom: 20px;
    -webkit-appearance: none;
}

input[type=submit]{
	border: none;
    padding: 12px 30px 10px 30px;
    margin-top: 11%;
    font-size: 17px;
    color: #00BE78;
    cursor: pointer;
    -webkit-appearance: none;
}

::placeholder {
    color: #fff;
    opacity: 1;
    font-size: 16px;
}

/*------------
Features section
-----------------*/
.features{
	background-color: #00BE78;
}

.features .grid li{
	padding: 0 44px;
	flex-basis: 33%;
	text-align: center;
}

.features .grid li i{
    font-size: 50px;
    color: #2196F3;
    margin-bottom: 25px;
}

.features .grid li h4{
	color: #fff;
    font-size: 20px;
    margin-bottom: 25px;
    font-family: Circular Std Bold;
}

.features .grid li p{
    margin: 0;
    font-size: 21px;
    color: #4D4C52;
    line-height: 33px;
}

ul.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.features .grid img{
	width: 261px;
	min-height: 80px;
	margin-bottom: 20px;
}


/*---------------------
	Product Information
---------------------*/

.product-info{
	background-color: #fff
}

.product_img img{
	width: 50vw;
}

.product-info .grid h2{
	font-size: 60px;
    color: #4D4C52;
}

.product-info .grid h5{
	font-size: 20px;
    color: #4D4C52;
    font-family: Circular Std Book;
}

.points{
	font-size: 16px;
    line-height: 32px;
    margin: 10% 0% 5%;
}

.product-info .grid sup{
	font-size: 20px;
    color: #4D4C52;
}

.product-info p strong{
	font-size: 60px;
    border-right: solid 1px #4D4C52;
    padding-right: 5%;
}

.product-info p span{
	font-size: 16px;
    padding-left: 20px;
}

.product-info .grid i{
	padding-right: 21px;
    color: #00BE78;
}

.price{
	display: flex;
	align-items: center;
	margin-bottom: 4%;
}

/*----------------
	Footer Section
-------------------*/

footer{
	background-color: #4D4C52;
	display: flex;
	flex-direction: column;
	/*padding: 70px 155px;*/
	padding: 70px 155px 150px 155px;

}

ul.footer-grid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	/*justify-content: center;*/
}

footer .footer-grid li h4{
	color: #FFFFFF;
	padding-bottom: 20px;
	font-size: 14px;
}
footer .footer-grid li p{
	color: #D0D4D5;
	font-size: 18px;
	line-height: 30px;
}

.logotype{
	flex-basis: 100%;
	padding-bottom: 40px;
}

.info{
	flex-basis: 25%;
}

.info p a i{
	padding-right: 10px;
}

.info p a i:hover{
    color: #00BE78;
}

.info p a:hover{
    color: #00BE78;
}


