@media screen and (max-width: 549px){

	.header {
	    padding-left: 0;
	    padding-right: 0;
	}

	.hero {
	    min-height: 50vh;
	}

	section {
	    padding: 102px 54px;
	}

	.hero h1 {
	    font-size: 90px;
	    line-height: 86px;
	    margin-bottom: 40px;
	   	margin-top: -33px;
	}

	.intro-text p {
	    font-size: 16px;
	    line-height: 35px;
	    padding: 0% 5%;
	}

	.features .grid li {
	    padding: 0 30px;
	    flex-basis: 100%;
	    padding-bottom: 45px;
	}

	.features .grid li:last-child {
    	padding-bottom: 0px;
	}	

	.logotype {
	    text-align: center;
	}
	
	.info {
	    flex-basis: 100%;
	    text-align: center;
	    padding-bottom: 15%;
	}

	.footer-grid .info li:last-child{
		padding-bottom: 0px;
	}

	footer {
    	padding: 70px 10px 70px 10px;
	}

	/*Temporary Slider fix*/
	.top_nav{
		display: none;
	}

}


@media screen and (min-width: 550px) {
	.header__menu img{
		display: none;
	}

	.email-col{
		display: none;
	}	
}

@media screen and (min-width: 550px) and (max-width: 767px) {
	.header {
	    padding-left: 0px;
	    padding-right: 0px;
	}

	section {
    	padding: 125px 54px;
	}
	.hero {
	    min-height: 60vh;
	}	

	.hero h1 {
	    margin-top: -56px;
	    font-size: 104px;
    	line-height: 98px;
	}

	.intro-text p {
	    padding: 0% 10%;
	}

	footer {
	    padding: 70px 54px 150px 54px;
	}

	.features .grid li {
    	padding: 0px 14px 54px 14px;
    	flex-basis: 50%;
	}

	.features .grid li:last-child {
    	padding-bottom: 0px;
	}

	.info {
	    flex-basis: 50%;
	    text-align: left;
	    padding-bottom: 15%;
	}

	.footer-grid .info li:last-child{
		padding-bottom: 0px;
	}

	footer {
    	padding: 70px 54px 70px 54px;
	}

}


@media screen and (min-width: 768px) and (max-width: 1023px) {
	.header {
	    padding-left: 0px;
	    padding-right: 0px;
	}

	section {
    	padding: 125px 54px;
	}
	.hero {
	    min-height: 70vh;
	}	

	.hero h1 {
	    margin-top: -56px;
	}

	.intro-text p {
	    padding: 0% 10%;
	}

	footer {
	    padding: 70px 54px 150px 54px;
	}
}