@media screen and (max-width: 568px){

/*------Static Content---*/
	.header {
	    padding-left: 0;
	    padding-right: 0;
	}

	section {
	    padding: 62px 40px;
	}

	.btn_class_white {
	    font-size: 13px;
	    padding: 10px 20px 10px 21px;
	    margin-top: 5%;
	}

	.logotype {
	    text-align: center;
	}

	.info {
	    flex-basis: 100%;
	    text-align: center;
	    padding-bottom: 15%;
	}

	.footer-grid .info li:last-child{
		padding-bottom: 0px;
	}

	footer {
    	padding: 70px 10px 70px 10px;
	}

	/*--Navigation---*/
/*----Move the Logo Slightly----*/
	.logo_class {
	    margin-right: auto;
	    margin-left: 4rem;
	}

/*------NAV TOGGLE*/
	.nav_link a:hover{
		color: white;
	}

	.nav-toggle {
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    user-select: none;
	    cursor: pointer;
	    height: 2rem;
	    left: 2rem;
	    position: fixed;
	    top: 1.8rem;
	    width: 2.2rem;
	    z-index: 2;
	}

	.nav-toggle:hover {
	    opacity: 0.8;
	  }
	.nav-toggle .nav-toggle-bar,
	.nav-toggle .nav-toggle-bar::after,
	.nav-toggle .nav-toggle-bar::before {
	    position: absolute;
	    top: 50%;
	    -webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    transform: translateY(-50%);
	    -webkit-transition: all 0.5s ease;
	    -moz-transition: all 0.5s ease;
	    -ms-transition: all 0.5s ease;
	    -o-transition: all 0.5s ease;
	    transition: all 0.5s ease;
	    background: #4D4C52;
	    content: '';
	    height: 0.255rem;
	    width: 100%;
	}

	.nav-toggle .nav-toggle-bar {
	    margin-top: 0;
	  }

	.nav-toggle .nav-toggle-bar::after {
	    margin-top: 0.7rem;
	}

	.nav-toggle .nav-toggle-bar::before {
	    margin-top: -0.7rem;
	}

	.nav-toggle.expanded .nav-toggle-bar {
	    background: transparent;
	}

	.nav-toggle.expanded .nav-toggle-bar::after, .nav-toggle.expanded .nav-toggle-bar::before {
	    background: #4D4C52;
	    margin-top: 0;
	}

	.nav-toggle.expanded .nav-toggle-bar::after {
	    -ms-transform: rotate(45deg);
	    -webkit-transform: rotate(45deg);
	    transform: rotate(45deg);
	}

	.nav-toggle.expanded .nav-toggle-bar::before {
	    -ms-transform: rotate(-45deg);
	    -webkit-transform: rotate(-45deg);
	    transform: rotate(-45deg);
	}

	/*----Main Links-----*/
	.nav {
	    -webkit-transition: left 0.5s ease;
	    -moz-transition: left 0.5s ease;
	    -ms-transition: left 0.5s ease;
	    -o-transition: left 0.5s ease;
	    transition: left 0.5s ease;
	    background: #00BE78;
	    color: white;
	    cursor: pointer;
	    font-size: 2rem;
	    height: 17vh;
	    left: -21rem;
	    padding: 6rem 2rem 2rem 2rem;
	    position: fixed;
	    top: 90px;
	    width: 21rem;
	    z-index: 1;

	}

	.nav.expanded {
	    left: 0;
	}

	.nav ul {
	    position: absolute;
	    top: 50%;
	    -webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    transform: translateY(-50%);
	    list-style: none;
	    margin: 0;
	    padding: 0;
	}

/*-----End----*/
	.hero {
	    min-height: 50vh;
	}

	.hero h1 {
	    font-size: 68px;
	    line-height: 64px;
    	margin-bottom: 10px;
    	margin-top: -33px;
	}

	.hero p {
	    font-size: 15px;
	    line-height: 30px;
	    width: 68vw;
	}

.hero .hero-img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-color: #00BE78;
	z-index: -1;
	background-attachment: unset;
}

	.intro-text p {
	    font-size: 16px;
	    line-height: 35px;
	    padding: 0% 5%;
	}

	.intro-text h3 {
	    padding: 0% 4% 2% 5%;
	}

	.intro-sub-text {
    padding: 0% 4%;
	}

	.about-us .grid li {
	    flex-basis: 100%;
	}

	.about-txt p {
	    font-size: 16px;
	    padding-bottom: 13px;
	}
	.about-txt {
	    padding: 95px 45px;
	}

	.about-img {
	    height: 83vw;
	}

	.about-img img {
	    width: 58vw;
	}
	.the-team .grid li {
	    flex-basis: 100%;
	    padding-bottom: 5%;
	}

	.profile img {
	    width: 83vw;
	}

	.profile {
	    width: 83vw;
	}

	.quote .grid li {
	    flex-basis: 100%;
	}

	.quote-txt {
	    padding: 125px 45px;
	}

	.quote-txt h3 {
	    font-size: 57px;
	    line-height: 75px;
	    padding-bottom: 2%;
	}

	.hiring-sub-text {
	    padding: 0% 2%;
	}

	.hiring-sub-text h3 {
	    font-size: 50px;
	    padding-bottom: 5%;
	}

	.jobs .grid li {
	    flex-basis: 100%;
	}

	.openings {
	    width: 83vw;
	}

	.quote-img {
	    height: 80vw;
	    margin-bottom: -3px;
	}

	.quote-txt {
	    padding: 96px 45px;
	}

	.quote-txt p {
	    padding-bottom: 3%;
	}

	.quote-img img {
	    width: 55vw;
	}
}


@media screen and (min-width: 569px) {
	.nav-toggle{
		display: none;
	}

	.email-col{
		display: none;
	}
}

@media screen and (min-width: 550px) and (max-width: 767px) {
/*----Static Content----*/
	.header {
	    padding-left: 0px;
	    padding-right: 0px;
	}

	section {
	    padding: 70px 54px;
	}

	.btn_class_white {
	    margin-top: 4%;
	}

	footer {
	    padding: 70px 54px 150px 54px;
	}

	.info {
	    flex-basis: 50%;
	    text-align: left;
	    padding-bottom: 15%;
	}

	.footer-grid .info li:last-child{
		padding-bottom: 0px;
	}

	footer {
    	padding: 70px 54px 70px 54px;
	}
/*----end----*/
	.hero {
	    min-height: 60vh;
	}

	.hero h1 {
	    margin-top: 0px;
	    font-size: 73px;
    	line-height: 40px;
	}

	.hero p{
		font-size: 18px;
	    line-height: 34px;
	    width: 70vw;
	}

	.intro-text p {
	    padding: 0% 10%;
	    font-size: 16px;
    	line-height: 32px;
	}

	.intro-text h3 {
	    padding: 0% 4% 2% 10%;
	}

	.intro-sub-text {
	    padding: 0% 0%;
	}

	.about-txt {
	    padding: 95px 50px;
	}

	.about-us .grid li {
	   flex-basis: 100%;
	}

	.about-img img {
	    width: 50vw;
	}

	.about-img {
	    height: 75vw;
	}

	.the-team .grid li {
	    flex-basis: 100%;
	    padding-bottom: 5%;
	}

	.profile img {
	    width: 83vw;
	}

	.profile {
	    width: 83vw;
	}

	.quote .grid li {
	    flex-basis: 100%;
	}

	.quote-txt {
	    padding: 125px 45px;
	}

	.quote-txt h3 {
	    font-size: 57px;
	    line-height: 75px;
	    padding-bottom: 2%;
	}

	.hiring-sub-text {
	    padding: 0% 2%;
	}

	.hiring-sub-text h3 {
	    font-size: 50px;
	    padding-bottom: 5%;
	}

	.jobs .grid li {
	    flex-basis: 100%;
	}

	.openings {
	    width: 83vw;
	}

	.quote-img {
	    height: 80vw;
	    margin-bottom: -3px;
	}

	.quote-txt {
	    padding: 96px 45px;
	}

	.quote-txt p {
	    padding-bottom: 3%;
	}

	.quote-img img {
	    width: 55vw;
	}

}


@media screen and (min-width: 768px) and (max-width: 1023px) {
/*----Static----*/
	.header {
	    padding-left: 0px;
	    padding-right: 0px;
	}

	section {
    	padding: 70px 10px;
	}

	footer {
	    padding: 70px 54px 150px 54px;
	}

	.info {
	    flex-basis: 50%;
	    margin-bottom: 5%;
	}
/*----end----*/
	.hero {
	    min-height: 70vh;
	}

	.hero h1 {
	    margin-top: -56px;
	    font-size: 100px;
	    margin-bottom: 12px;
	}

	.intro-text p {
		font-size: 16px;
    	line-height: 35px;
	    padding: 0% 10%;
	}

	.intro-text h3 {
	    padding: 0% 10% 2% 10%;
	}

	.hero p {
	    font-size: 22px;
	    line-height: 38px;
	    width: 70vw;
	}

	.intro-sub-text {
	   padding: 0% 5%;
	}

	.about-txt {
	    padding: 65px 20px;
	}

	.about-txt p {
	    font-size: 16px;
	    line-height: 36px;
	}

	.about-img img {
	    width: 39vw;
	}

	.quote-txt {
	    padding: 65px 20px;
	}

	.quote-img img {
		width: 39vw;
	}

	.hiring-sub-text p {
	    font-size: 16px;
	    line-height: 35px;
	    padding-bottom: 15px;
	}

	.hiring-sub-text {
	    padding: 0% 15%;
	}

	.quote-txt h3 {
	    font-size: 60px;
	    line-height: 73px;
	}

}

@media screen and (min-width: 1300px) and (max-width: 1400px) {
	.quote-txt {
	    padding: 125px 130px;
	}

	.about-txt {
	    padding: 70px 65px;
	}

	.about-img img {
	    width: 32vw;
	}

	.quote-img img {
	    width: 38vw;
	}
}

@media screen and (min-width: 1200px) and (max-width: 1299px) {
	.quote-txt {
	    padding: 65px 100px;
	}

	.about-txt {
	    padding: 65px 60px;
	}

	.about-img img {
	    width: 34vw;
	}

	.quote-img img {
	    width: 38vw;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
	section {
    	padding: 70px 10px;
	}

	.intro-sub-text {
	   padding: 0% 5%;
	}

	.about-txt {
	    padding: 65px 20px;
	}

	.about-txt p {
	    font-size: 20px;
    	line-height: 45px;
	}

	.about-img img {
	    width: 39vw;
	}

	.quote-txt {
	    padding: 65px 20px;
	}

	.quote-img img {
		width: 36vw;
	}

	.hiring-sub-text p {
	    font-size: 20px;
    	line-height: 45px;
	    padding-bottom: 15px;
	}

	.hiring-sub-text {
	    padding: 0% 15%;
	}

	.quote-txt h3 {
	    font-size: 60px;
	    line-height: 73px;
	}

	footer {
	    padding: 70px 40px 150px 40px;
	}

}

@media screen and (min-width: 1401px) and (max-width: 1497px) {
	.quote-img img {
	    width: 35vw;
	}

	.about-img img {
	    width: 38vw;
	}
}